body {
    font-family: 'Montserrat', sans-serif;
    background-color: SkyBlue;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    background-color: SteelBlue;
    color: white;
    padding: 0;
    text-align: center;
}

.btn > a {
    display: block;
    width: inherit;
    color: white;
}

.btn > a:hover {
    color: #333;
}