{% extends 'auth_app/base.html'%}

{% block container %}
{% if user.is_authenticated %}
<h4 class="h4 text-center">User already logged in</h4>
<form class="form-horizontal" action="{% url 'auth:info' %}">
    <button class="btn btn-round form-control" type="submit">Info</button>
</form>
{% include 'auth_app/includes/logout_button.html' %}
{% else %}
<form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
    {% csrf_token %}
    {% if next %}
    <input type="hidden" name="next" value="{{next}}"><br>
    {% endif %}
    <button class="btn btn-round form-control">
        <a href="{% url 'social:begin' 'vk-oauth2' %}?next={% url 'auth:info' %}">
            Login
        </a>
    </button>
</form>
<form class="form-horizontal" action="/admin/">
    <button class="btn btn-round form-control" type="submit">Admin Page</button>
</form>
{% endif %}

{% endblock %}