<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        {% block title %}
            <title>{{title|title}}</title>
        {% endblock %}
        {% block css %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap_3_3_7.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom_style.css' %}">
    </head>
    <body>
        {% block header %}
        {% endblock %}
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
        {% block footer %}
        {% endblock %}
        {% block js %}
        {% endblock %}
        <script defer src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script defer src="{% static 'js/bootstrap_3_3_7.min.js' %}"></script>
    </body>
</html>